*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 740px) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 500px) {
    html {
      font-size: 50%; } }
  @media (max-width: 400px) {
    html {
      font-size: 40%; } }

body.modal-open {
  overflow: hidden; }

body {
  font-family: 'Spartan', sans-serif; }

h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 8px;
  color: black; }

h1 {
  font-size: 4rem;
  font-weight: 600; }

p {
  color: #a1a1a1;
  font-size: 1.2rem;
  line-height: 1.8;
  font-weight: 500; }
  @media (max-width: 400px) {
    p {
      font-size: 2rem; } }

.header {
  position: relative; }

.backgrounds {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1; }
  .backgrounds img {
    height: 100%;
    width: 100%; }

.nav {
  display: flex;
  position: absolute;
  top: 7rem;
  left: 7rem;
  z-index: 5; }
  @media (max-width: 830px) {
    .nav {
      left: 0;
      top: 0;
      width: 100%;
      justify-content: center;
      z-index: 40; } }

.navlist {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-gap: 3rem;
  margin-left: 8rem; }
  .navlist a {
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: lowercase;
    color: white; }
    .navlist a:after {
      content: "";
      display: block;
      height: 2px;
      width: 0;
      margin: 5px auto;
      background-color: white;
      transition: width 0.2s; }
    .navlist a:hover:after {
      width: 3rem; }
  @media (max-width: 830px) {
    .navlist {
      display: none; } }

.navlist.mobile {
  display: grid;
  position: absolute;
  background-color: white;
  height: 16rem;
  width: 100%;
  margin-left: 0;
  top: 0;
  justify-content: end;
  padding-top: 7rem; }
  .navlist.mobile > .nav {
    top: 0; }
  .navlist.mobile a {
    font-size: 2rem;
    color: black; }

.hamburger {
  display: none; }
  @media (max-width: 830px) {
    .hamburger {
      display: block;
      cursor: pointer;
      position: absolute;
      left: 8%;
      top: 7rem;
      z-index: 45; } }

@media (max-width: 830px) {
  .nav__logo {
    margin-top: 7rem; } }

.modal-background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;
  display: grid;
  place-items: center;
  overflow: scroll;
  z-index: 20; }
  .modal-background.hidden {
    display: none;
    opacity: 0; }

.slider {
  overflow: hidden;
  position: relative; }

.slide {
  transition: transform 1s;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0; }

.background {
  transition: transform 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0; }

.btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: black;
  text-decoration: none;
  transition: color 0.2s; }
  .btn:hover {
    color: #a1a1a1; }
    .btn:hover path {
      fill: #a1a1a1; }
  .btn path {
    fill: black;
    transition: fill 0.2s; }

.button {
  border: none;
  background-color: black;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s; }
  .button:hover {
    background-color: #454545; }

body {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 65vh 35vh; }
  @media (max-width: 830px) {
    body {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(6, min-content); }
      body .header {
        grid-column: 1/6;
        grid-row: 1/3;
        height: 55rem; }
      body .buttons {
        grid-column: 4/6;
        grid-row: 2/3;
        z-index: 10; }
      body .cta {
        grid-column: 1/6;
        grid-row: 3/5;
        height: 50rem;
        margin: 10% 8%; }
      body .about {
        grid-column: 1/6;
        grid-row: 6/7;
        height: 50rem;
        padding: 10% 8%; }
        body .about p {
          margin: 0;
          margin-top: 3rem; }
      body .image-box.first {
        grid-column: 1/6;
        grid-row: 5/6; }
      body .image-box.second {
        grid-column: 1/6;
        grid-row: 7/8; } }

.header {
  grid-column: 1/7; }

.buttons {
  height: 8rem;
  grid-column: 7/8;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: end; }

.cta {
  grid-column: 7/11;
  grid-row: 1/2;
  margin: 12%; }
  .cta p {
    margin: 3rem 0; }

.image-box img {
  width: 100%;
  height: 100%; }

.image-box.first {
  grid-column: 1/4; }

.image-box.second {
  grid-column: 8/11; }

.about {
  grid-column: 4/8;
  padding: 0 10%;
  display: grid;
  place-items: center; }
  .about p {
    margin: 1.8rem 0; }
