.nav {
  display: flex;
  position: absolute;
  top: 7rem;
  left: 7rem;
  z-index: 5;

  @media (max-width: 830px) {
    left: 0;
    top: 0;
    width: 100%;
    justify-content: center;
    z-index: 40;
  }

}


.navlist {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-gap: 3rem;
  margin-left: 8rem;

  a {
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: lowercase;
    color: $white;

    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 0;
      margin: 5px auto;
      background-color: $white;
      transition: width 0.2s;
    }

    &:hover {
      &:after {
        width: 3rem;
      }
    }
  }

  @media (max-width: 830px) {
    display: none;
  }
}

.navlist.mobile {
  display: grid;
  position: absolute;
  background-color: white;
  height: 16rem;
  width: 100%;
  margin-left: 0;
  top: 0;
  justify-content: end;
  padding-top: 7rem;


  & > .nav {
    top: 0;
  }

  a {
    font-size: 2rem;
    color: $black;
  }
}

.hamburger {
  display: none;

  @media (max-width: 830px) {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 8%;
    top: 7rem;
    z-index: 45;
  }
}

@media (max-width: 830px) {
  .nav__logo {
    margin-top: 7rem;
  }
}